/* ////////////////////// */
/* HOME AND PROJECT PAGES */
/* ////////////////////// */

/* global variables */
:root {
    --background-color: black;
    --text-color: #EAEAEA;
    --border-color: rgb(80, 80, 80);
    --header-right-padding: 40px;
    --header-left-padding: 650px;
    --header-top-padding: -40px;

    /* font sizes */
    --header-font-size: 14px;
    --body-font-size: 16px;
    --caption-font-size: 12px;

}

/* reset browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html + body setup */
html,
body {
    background-color: #000;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

body {
    color: var(--text-color);
    /* font-family: 'Source Serif 4', serif; */
    font-family: 'IBM Plex Mono', monospace;

    font-weight: 500;
    font-size: var(--body-font-size);

}

/* page navigation */
.header {
    display: flex;
    justify-content: space-between;

    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: var(--header-font-size);

    margin: var(--header-top-padding) 0px;
    margin-left: var(--header-left-padding);
    margin-right: var(--header-right-padding);
    /* text-transform: uppercase; */
}

.header a.active {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.header a:hover {
    /* opacity: 0.7; */
    text-decoration: underline;
    text-underline-offset: 7px;
}

/* gif logo */
.logo-image img {
    display: block;
    /* margin: 0 auto; */
    margin: 0;
    margin-left: var(--header-right-padding);
    margin-top: 40px;
    max-width: 300px;
    /* max-height: 400px; */
}

.logo-image img:hover {
    opacity: 1;
}

/* homepage - projects */

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 120px 40px;
}

.project {
  position: relative;
  aspect-ratio: 1 / 1;
  padding: 20px;
  border: 0.5px solid var(--border-color);
  overflow: hidden;
}

.project img {
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  object-fit: cover;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.project:hover img {
  opacity: 1;
}

.inner {
  position: relative;
  z-index: 2;
  height: 100%;
}

.inner .title {
  font-size: var(--body-font-size);
}

.inner .caption {
  position: absolute;
  bottom: 0;
  font-size: var(--caption-font-size);
}

.inner span {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  transition: opacity 0.3s ease;
}

.project:hover .inner span {
  opacity: 0;
}



/* universal */
a {
    text-decoration: none;
    color: var(--text-color);
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid var(--border-color);
}